@import '../chooser/chooser.component.less';
@import '../../assets/style/variables.less';

::ng-deep .popover {
  margin-top: -15px !important;

  .arrow {
    display: none;
  }

  .enrolled-student {
    cursor: pointer;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: unset;
    }

    &:hover {
      text-decoration: underline;
    }

    img {
      width: 22px;
      margin-top: -4px;
      padding-right: 5px;
    }
  }
}

.card {
  height: 115px;

  .enrollment-counter {
    color: @text-blue;
    font-size: 12px;
    margin-top: 4px;
    padding-left: 8px;
  }

  .full-school {
    color: #A5A5A5;
  }

  .undo-enroll-btn {
    right: 0;
    bottom: 0;
    cursor: pointer;
    position: absolute;

    .fas {
      margin-right: 5px;
    }
  }
}

