<!--<pre>{{schools | json}}</pre>-->
<!--<pre>{{schoolStudentMap | json}}</pre>-->

<!-- School Card -->
<div *ngFor="let school of getSchoolsWithSearchInput() | sort: 'name'"
     class="card m-3 d-inline-block"
     (click)="selectSchool(school)"
     [ngClass]="{'card-selected': school.isSelected}">

  <div class="card-body">

    <div *ngIf="school.isSelected" class="selected-indicator">
      <img src="../../assets/img/icon_selected_radio.svg" alt="Selected School">
    </div>

    <!-- School Name -->
    <a class="link" [ngClass]="{'full-school': schoolIsFull(school)}"
       [href]="school.web_pages[0]" (click)="$event.stopPropagation()" target="_blank">
      {{school.name}}
    </a>

    <span class="enrollment-counter"
          [ngClass]="{'full-school': schoolIsFull(school)}">{{buildEnrollmentCounter(school)}}</span>

    <!-- School Country -->
    <div class="mt-4" [ngClass]="{'full-school': schoolIsFull(school)}">{{school.country}}</div>

    <!-- Undo Enroll Button -->
    <div *ngIf="getStudentCount(school)" class="ml-3 undo-enroll-btn"
         (click)="$event.stopPropagation()"
         [ngbPopover]="enrolledView" placement="left" triggers="click" autoClose="outside"
         popoverClass="shadow">
      <img src="../../assets/img/icon_unenroll.svg" alt="Enrollees Button">

      <!-- Enrolled Students Popover -->
      <ng-template #enrolledView>
        <div *ngFor="let student of getEnrolledStudents(school) | sort: 'sortName'"
             class="enrolled-student" (click)="removeEnrollment(school, student); $event.stopPropagation()">
          <img src="../../assets/img/icon_deselect.svg"
               alt="Remove Student">{{student.name.first}} {{student.name.last}}
        </div>
      </ng-template>

    </div>

  </div>

</div>
