<!--<pre>{{students | json}}</pre>-->

<ng-container *ngFor="let student of getStudentsWithSearchInput() | sort: 'sortName'">

  <!-- Student Card -->
  <div class="card m-3 p-3 d-inline-block fade"
       (click)="student.isSelected = !student.isSelected"
       [ngClass]="{
         'card-selected': student.isSelected,
         'hide': student.isEnrolled,
         'show': !student.isEnrolled,
         'gone': student.isHidden
       }">

    <div *ngIf="student.isSelected" class="selected-indicator">
      <img src="../../assets/img/icon_selected_check.svg" alt="Selected School">
    </div>

    <div class="container">
      <div class="row">

        <div class="col-4">
          <img [src]="student.picture.medium" alt="Student Picture">
        </div>

        <div class="col">
          <!-- Student Name -->
          <a class="link" (click)="$event.stopPropagation()" routerLink="/student/{{student.login.uuid}}">
            {{buildNameLine(student)}}
          </a>

          <!-- Student Location -->
          <div>{{buildAddressLine(student)}}</div>
        </div>

      </div>
    </div>

  </div>

</ng-container>
