@import '../../assets/style/variables.less';

@bold: 700;
@semi-bold: 600;

.back-button {
  color: @text-blue;
  text-decoration: underline;

  .fas {
    padding-right: 5px;
  }
}

.student-display {
  background: white;

  .header {
    cursor: default;
    color: @text-blue;
    font-weight: @bold;
    height: 140px;
    font-size: 24px;
    background: #E5E5E5;
    display: flex;
    align-items: center;
  }

  img {
    width: 280px;
    margin-top: -185px;
  }

  .field {
    display: flex; //make sure field names float to the top with multi-line values
    font-size: 14px;
    margin-bottom: 15px;

    .field-name, .field-value {
      display: inline-block;
    }

    .field-name {
      width: 110px;
      color: @text-blue;
      font-weight: @bold;
    }

    .field-value {
      font-weight: @semi-bold;
    }
  }

  .student-bio {
    .field-value {
      font-weight: unset;
    }
  }
}
