<!--<pre>{{student | json}}</pre>-->

<div class="container mt-4">

  <!-- Back Button -->
  <div class="row mb-3">
    <div class="col p-0">
      <a class="back-button" routerLink="/">
        <i class="fas fa-arrow-left"></i>Home Page
      </a>
    </div>
  </div>

  <!-- Student Display -->
  <div class="row student-display">
    <div class="container">

      <!-- Header -->
      <div class="row header">
        <div class="col-4"></div>
        <div class="col">Student Profile</div>
      </div>

      <!-- Student Pic and Info -->
      <div class="row pt-5">

        <!-- Student Pic -->
        <div class="col-4 p-3">
          <img [src]="student.picture.large" alt="Student Profile Picture"/>
        </div>

        <!-- Student Info (Left) -->
        <div class="col-4">

          <!-- Name -->
          <div class="field">
            <div class="field-name">Full Name:</div>
            <div class="field-value">{{student.name.first}} {{student.name.last}}</div>
          </div>

          <!-- Pronouns -->
          <div class="field">
            <div class="field-name">Pronouns:</div>
            <div class="field-value">{{student.gender == 'male' ? 'He/Him' : 'She/Her'}}</div>
          </div>

          <!-- Birthdate -->
          <div class="field">
            <div class="field-name">Date of Birth:</div>
            <div class="field-value">{{student.dob.date | date}}</div>
          </div>

        </div>

        <!-- Student Info (Right) -->
        <div class="col-4">

          <!-- Email -->
          <div class="field">
            <div class="field-name">Email:</div>
            <div class="field-value">{{student.email}}</div>
          </div>

          <!-- Phone -->
          <div class="field">
            <div class="field-name">Phone:</div>
            <div class="field-value">{{student.phone}}</div>
          </div>

          <!-- Address -->
          <div class="field">
            <div class="field-name">Address:</div>
            <div class="field-value">{{buildAddressTop()}}<br>{{buildAddressBottom()}}</div>
          </div>

        </div>

      </div>

      <!-- Student Bio -->
      <div class="row d-block p-4 student-bio">
        <div class="field d-block">
          <div class="field-name mb-3">Bio:</div>
          <div class="field-value">Deep down in Louisiana close to New Orleans. Way back up in the woods among the
            evergreens. There stood a log cabin made of earth and wood. Where lived a country boy named Johnny B. Goode.
            Who never ever learned to read or write so well. But he could play a guitar just like a-ringin' a bell. He
            used to carry his guitar in a gunny sack. Go sit beneath the tree by the railroad track. Oh, the engineers
            would see him sitting in the shade. Strumming with the rhythm that the drivers made. The people passing by
            they would stop and say. "Oh my what that little country boy could play."
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
