<div class="container text-center mb-5">

  <!-- Enroll Button -->
  <div class="row">
    <div class="col">
      <button class="btn btn-primary enroll-btn m-4"
              [disabled]="!hasValidSelection()"
              (click)="enroll()">
        Enroll
      </button>
    </div>
  </div>

  <!-- SEARCH BOXES -->
  <div class="row">
    <!-- it's a lot easier to deal with padding / margins if you just give the input tag the "col" class
     instead of wrapping a div around it and using the "col" class on that-->
    <input type="text" class="col rounded search-box" placeholder="Search"
           [(ngModel)]="schoolChooser.searchInput" [ngClass]="{'has-text': hasText(schoolChooser.searchInput)}"/>

    <!-- spacer -->
    <div class="col-1"></div>

    <input type="text" class="col rounded search-box" placeholder="Search"
           [(ngModel)]="studentChooser.searchInput" [ngClass]="{'has-text': hasText(studentChooser.searchInput)}"/>
  </div>

  <!-- SELECTION DISPLAY -->
  <div class="row selection-display-row">

    <!-- Selected School Display -->
    <div class="col">
      <div class="selection-display shadow rounded" [hidden]="!schoolChooser.getSelectedSchool()">
        <span class="float-left">
          {{schoolChooser.getSelectedSchool() && schoolChooser.getSelectedSchool().name}} Selected
        </span>

        <img (click)="schoolChooser.deselect()" class="float-right"
             src="../../assets/img/icon_deselect.svg" alt="Deselect">
      </div>
    </div>

    <div class="col-1"></div>

    <!-- Selected Student Display -->
    <div class="col">
      <div class="selection-display shadow rounded" [hidden]="!studentChooser.getSelectedCount()">
        <span class="float-left">
          {{buildSelectedStudentsDisplay()}}
        </span>

        <img (click)="studentChooser.deselect()" class="float-right"
             src="../../assets/img/icon_deselect.svg" alt="Deselect">
      </div>
    </div>

  </div>

  <!-- CHOOSERS -->
  <div class="row choosers-row">

    <!-- SCHOOL CARDS -->
    <div class="col rounded col-content">
      <school-chooser></school-chooser>
    </div>

    <!-- Spacer -->
    <div class="col-1"></div>

    <!-- STUDENT CARDS -->
    <div class="col rounded col-content">
      <student-chooser></student-chooser>
    </div>

  </div>

</div>
