@import '../../assets/style/variables';

.enroll-btn {
  width: 94px;
  background-color: @dark-blue;
  border-color: @dark-blue;

  &:disabled {
    background: @disabled-gray;
    border-color: @disabled-gray;
  }
}

input.search-box { //targeting with input (not just the class name) is required for the ":focus" to work below
  height: 40px;
  border-width: 1px;
  margin-bottom: 15px;
  background: transparent url("../../assets/img/icon_search.svg") no-repeat 15px;
  //transparent is the background color, 15px is the x position of the icon
  // (leaving out the y position will center it vertically)

  &::placeholder {
    color: #969696;
    padding-left: 30px;
  }

  &:focus, &.has-text {
    background-image: none;

    &::placeholder {
      color: transparent; //hide placeholder text on focus
    }
  }
}

.selection-display-row {
  //push down so it's on top of the div below it
  z-index: 1;
  height: 50px;
  position: relative;

  .col { //by keeping a div inside (and separate from) the .col div, we can hide either selection display (or both)
          // without messing up any other alignment
    padding: 0;

    .selection-display {
      height: 50px;
      cursor: default;
      color: @text-blue;
      background: white;
      padding-left: 15px;
      margin-bottom: 5px;

      //vertically center the text and icon
      display: flex;
      align-items: center;

      img {
        right: 10px;
        position: absolute;
        cursor: pointer;
      }
    }
  }
}

.choosers-row {
  margin-top: -50px;

  .col-content {
    height: 600px;
    overflow: auto;
    background: white;
    padding-top: 50px;
  }
}

.card {
  width: 325px;
  border: none;
  cursor: default;
  text-align: left;
  user-select: none;
  background: #EEEEEE;

  &.card-selected {
    background: #CBCBCB;
  }

  .selected-indicator {
    top: 5px;
    right: 8px;
    position: absolute;
  }

  .link {
    color: @text-blue;
    font-weight: bold;
    text-decoration: underline;
  }
}
