@import 'src/assets/style/variables.less';

body {
  background: @background-gray;

  pre {
    text-align: left;
    user-select: all;
    width: 250px;
    height: 250px;
    overflow: auto;
    background: #EEE;
    padding: 7px 10px;
    border: 2px solid lightgray;
  }

  .header-bar {
    color: white;
    cursor: default;
    font-size: 23px;
    display: flex;
    align-items: center;
    height: 75px;
    padding-left: 30px;
    background-color: @dark-blue;
  }
}
